h1 {
  color: white;
  font-size: 3.6em;
}
button {
  margin-left: 0.85em;
  margin-right: 0.85em;
}
.hero {
  background-image: url('/assets/homepage/background.jpg') !important;
  background-size: cover;
  background-position: center center;
  height: 100%;
}
.top {
  height: 23%;
}
.bottom {
  height: 37%
}
